*{
    
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.header{
    
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(img/company.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    
}

nav{
    
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}


nav img{
    
    width: 150px;
}

.nav-links{
    
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    
    content: "";
    width: 0%;
    height: 2px;
    background-color: #329e0e;
    display: block;
    margin: auto;
    transition: 0.5s;
    
}


.nav-links ul li:hover::after{
    
    width: 100%;

}

.text-box{
    
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    
}

.text-box h1{
    
    font-size: 40px;
}

.text-box p{
    
    margin: 10px 50px 40px 50px;
    font-size: 14px;
    color: #fff;
}

.hero-btn{
    
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    
    border: 1px solid #329e0e;
    background: #329e0e;
    transition: 1s;
}

nav .fa{
    
    display: none;
}

/*-------------------------MediaQuery-----------------------*/

@media(max-width: 700px){
    
    .header{
        overflow-x: hidden;

    }
    
    .text-box h1{
        font-size: 20px;
    }
    
    .nav-links ul li{
        display: block;
    }
    
    .nav-links ul li:hover{
        background-color: #ffffff45;
        border-radius: 20px;
        transition: 1s;
    }
    
    .nav-links ul li:hover::after{
        background-color: #fff;
    }
    
    .nav-links{
        position:absolute;
        background: #329e0e;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 1002;
        transition: 1s;
    }
    
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    
    .nav-links ul{
        padding: 30px;
    }
    
}

/* -----accountant------ */

.accountant{

    width: 100%;
    margin: auto;
    padding-top: 100px;
}

.row-start{

    display: flex;
    justify-content: flex-start;
}

.row-start img{

    width: 100% ;
    position: relative;
    left: -70px;
}

.accountant-col{

    flex-basis: 50%;
}

.accountant h1{
    
    font-size: 36px;
    font-weight: 600;
}

.accountant p{
    
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

@media(max-width: 700px){
    
    .row-start{
        flex-direction: column;
    }
    
}

/* --------------services-------- */

.boder-right{

    border-right: 1px solid #dee2e6;
}

.boder-top{

    border-top: 1px solid #dee2e6;
}

.services{
    
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.services h1{
    
    font-size: 36px;
    font-weight: 600;
}

.services p{
    
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    
    display: flex;
    justify-content: space-between;
    /* margin-top: 5%; */
    padding: 40px 0;
    
}

.center{

    align-items: center;
}

.services-col{
    
    flex-basis: 31%;
    /* background: #00000014; */
    /* border: 1px solid #777; */
    /* border-radius: 10px; */
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.row img{
    
    width: 100%;
    height: 35%;
}

.row h3{
    
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.services-col:hover{
    
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.3);
}

@media(max-width: 700px){
    
    .row{
        flex-direction: column;
        /* margin-top: 5%; */
        padding: 0;
        border-top: 0 solid black;
    }
    
    .services-col{
        margin-bottom: 5%;
        background: #00000014;
        border: 1px solid #777;
        border-radius: 10px;
        
    }
}

/* ------------global----------- */

.global{

    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.global-col{

    flex-basis: 49%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.global-col img{

    width:100%;
    height: 120%;
    display: block;
}

.layer{

    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover{

    background: rgba(4, 9, 30, 0.7);
}

.layer h3{

    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3{

    bottom: 39%;
    opacity: 1;
}

/* -----------client---------------- */

.client{

    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.client-col{

    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 24px 0;
    cursor: pointer;
    display: flex;
}

.client-col img{

    height: 50px;
    width: 50px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.client-col p{

    padding: 0;
}

.client-col h3{

    margin-top: 15px;
    text-align: left;
}

.client-col .fa{

    color: #329e0e;
}

@media(max-width: 700px){

    .client-col img{
        margin-left: 5px;
        margin-right: 15px;
    }
}

/* ----------Call To Action--------- */

.cta{

    margin: 50px auto;
    width: 80%;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/biznesowe.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta h1{

    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

@media(max-width: 700px){

    .cta h1{
        font-size: 24px;
    }

    .cta{
        width: 100%;
        border-radius: 0;
    }
}

/* ------------footer----------- */

.footer{

    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{

    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icon .fa{

    color: #329e0e;
    /* margin: 0 13px; */
    cursor: pointer;
    padding: 18px;
    font-size: 20px;
    transition: 0.5s;
}

.icon .fa:hover{

    background-color: #329e0e;
    color: #fff;
    border-radius: 5px;
}

.fa-heart-o{

    color: #329e0e;
}


/* ---------About_Page----------- */


.aboutNav{

    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(img/biznesowe.jpg);;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: #fff;

}

.aboutNav h1{

    margin-top: 100px;
}

.about-us .row{

    background-image:linear-gradient(rgba(4,9,30,0.1),rgba(4,9,30,0.2)),url(img/21503.jpg);
    background-position: center;
    background-size: cover;
    height: auto;
}

.about-col{

    width: 60%;

}

.about-col h1{
    margin: 20px;
}

.about-col p, ul{

    margin: 0 0 0 60px;
}

